function BulletSet.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
call Bullet.new 2
pop this 0
push constant 0
push constant 0
call Bullet.new 2
pop this 1
push constant 0
push constant 0
call Bullet.new 2
pop this 2
push constant 0
push constant 0
call Bullet.new 2
pop this 3
push constant 0
push constant 0
call Bullet.new 2
pop this 4
push pointer 0
return
function BulletSet.fire 0
push argument 0
pop pointer 0
push this 0
call Bullet.isActive 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push argument 1
push argument 2
call Bullet.activate 3
pop temp 0
push this 0
call Bullet.draw 1
pop temp 0
push constant 0
return
label IF_FALSE0
push this 1
call Bullet.isActive 1
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push argument 1
push argument 2
call Bullet.activate 3
pop temp 0
push this 1
call Bullet.draw 1
pop temp 0
push constant 0
return
label IF_FALSE1
push this 2
call Bullet.isActive 1
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
push argument 1
push argument 2
call Bullet.activate 3
pop temp 0
push this 2
call Bullet.draw 1
pop temp 0
push constant 0
return
label IF_FALSE2
push this 3
call Bullet.isActive 1
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
push argument 1
push argument 2
call Bullet.activate 3
pop temp 0
push this 3
call Bullet.draw 1
pop temp 0
push constant 0
return
label IF_FALSE3
push this 4
call Bullet.isActive 1
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 4
push argument 1
push argument 2
call Bullet.activate 3
pop temp 0
push this 4
call Bullet.draw 1
pop temp 0
push constant 0
return
label IF_FALSE4
push constant 0
return
function BulletSet.move 0
push argument 0
pop pointer 0
push this 0
call Bullet.move 1
pop temp 0
push this 1
call Bullet.move 1
pop temp 0
push this 2
call Bullet.move 1
pop temp 0
push this 3
call Bullet.move 1
pop temp 0
push this 4
call Bullet.move 1
pop temp 0
push constant 0
return
function BulletSet.dispose 0
push argument 0
pop pointer 0
push this 0
call Bullet.dispose 1
pop temp 0
push this 1
call Bullet.dispose 1
pop temp 0
push this 2
call Bullet.dispose 1
pop temp 0
push this 3
call Bullet.dispose 1
pop temp 0
push this 4
call Bullet.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
